global
    log             /dev/log local0
#    log             127.0.0.dd1 local1 notice
    maxconn         4096
    user            haproxy
    group           haproxy
    daemon

defaults
    log             global
    mode            http
    option          httplog
    option          dontlognull
    retries         3
    option          redispatch
    maxconn         2000
    contimeout      5000
    clitimeout      50000
    srvtimeout      50000

# We need at least one listen section

listen  ts-service 0.0.0.0:80
        balance roundrobin
        server  ts1 192.168.60.60:8080
        server  ts2 192.168.60.70:8080
